<!--
리액트는 한페이지에서 여러가지 기능을 사용할 수 있도록 구성 필요
각 기능 별로 class 구성을 하고, 해당 클래스를 불러오는 것으로 처리
-->

<html>
	<head>
    <!-- 공통css 불러올 경우 아래와 같이 사용(css 위치는 public내부에 있음) -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	</head>
	<body>

    </div>
    <div>
      <form className="form-signin">
        <h2 className="form-signin-heading">전환화면</h2>
        <label for="inputEmail" className="sr-only">Email address</label>
        <input type="email" id="inputEmail" className="form-control" placeholder="Email address" required autofocus />
        <label for="inputPassword" className="sr-only">Password</label>
        <input type="password" id="inputPassword" className="form-control" placeholder="Password" required />

        <button className="btn btn-lg btn-primary btn-block" onClick={this.signIn} type="button">Sign in</button>
      </form>
      <div className="center">
        <Link to="/">
          <button className="btn btn-lg btn-danger" type="button">Sign in</button>
        </Link>
        <Link to="/sign">
          <button id="signBtn" className="btn btn-lg btn-warnning"  onClick={test()}  type="button">저장</button>
        </Link>
      </div>
      <div className="center">
        <a href="/login/save">관리자 페이지로 이동</a>
      </div>
    </div>
	</body>
</html>
<script>

  function test() {
    alert("here you are");
  }


</script>